body {
	font-family: 'Times New Roman', Times, serif;
	background: #c5c4c4;
	color: #333;
	padding: 2rem;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	background: white;
	padding: 2rem;
	border-radius: 8px;
}

h1,
h2 {
	color: #17364f;
}
p{font-size: large;}